.App {
  overflow-x: hidden;
}
#navbar{
  text-align: center;
  padding: 2vw;
  width:100%;
  background-color: rgb(227, 227, 227);
}
#navbar a{
  cursor: pointer;
  text-decoration: none;
  color:black;
  font-weight:300;
  margin: 1vw;
  font-size: 2vw;
}
#products{
  padding:2vw 0vw 0vw 4vw;
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  gap: 2vw;
  margin-bottom: 10vw;
  min-height: 100vh;
}
.card{
  border-radius:10px;
  font-size: medium;
  height: 18vw;
  width:45%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-left:0.5vw;
  display: grid;
  grid-template-columns: 3fr 2fr;
}
.img{
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
  height:18vw;
  width:20vw;
}
.card h3{
  font-size:1.5vw;
}
.card p{
  font-size:1.3vw;
}
.card p button{
  border: 1px solid;
  border-color: #FCD837;
  background: transparent;
  color:#FCD837;
  padding:0.5vw;
  border-radius:5px;
  margin-bottom: 1vw;
  font-size: 1.5vw;
}
#footer{
  padding:0.4vw;
  width:100%;
  background-color:rgb(227, 227, 227);
  position:fixed;
  bottom: 0;
  display:flex;
  justify-content:space-evenly;
}
#footer button{
  background-color: #E9003E;
  color: white;
  font-weight: 400;
  border-radius:5px;
  border:none;
  padding:0.5vw;
  cursor:pointer;
}
table{
  padding: 1vw;
  width: 100%;
}
#draw td{
  width:30%;
  
}
#draw img{
  height: 10vw;
  width:15vw;
}

@media screen and (max-width: 768px){
  .card , .img{
    height: 40vw;
  }
  .card p button , .card p , .card h3{
    font-size:3vw;
  }

}

